html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container{
  padding: 15px;
  background-color: #001529;
  color: white;
  font-size: 13px;
  line-height: 0;
}

.container col-md-12{
  justify: space-around;
  align: middle ;
}
