.header{
    margin: auto;
    background-color: #27AE60;
    text-align: center;
    padding: 25px;
}
.container a{
    margin-right: 10px;
    margin-left: 10px;
}
.container button{
    float: right;
    background-color: #408cba;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px
}